/* Estilos para la ventana modal */
.openModalBtn2{
  background-color:rgb(43, 120, 235);
  border: none;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;  
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  display: none; /* Oculto por defecto */
  position:absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: auto;
  height: auto; 
  overflow: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.modal-content2 {
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho de la ventana modal */
  max-width: 500px; /* Ancho máximo de la ventana modal */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-size: 34px;
}

.modal-list2 {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.closeBtn2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn2:hover,
.closeBtn2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-content2 {
    font-size: 1.5rem;
  }
}


